.students {
	&.container {
		margin-top: 75px;

		@include mobile {
			margin-top: 39px;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 22px;
		margin-bottom: 47px;

		@include mobile {
			margin-bottom: 32px;
		}
	}

	&__title {
	}

	&__add-btn {
		text-decoration: none;
		background-color: color(blue);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px 0px 15px 0px;
		border-radius: 10px;
		max-width: 340px;
		width: 100%;

		&:hover {
			.students__add-btn-icon {
				transform: rotate(180deg);
			}
		}

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
			transition: transform 0.5s ease-in-out;
		}

		&-text {
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
			color: color(white);
			white-space: nowrap;
		}
	}

	&__controls {
		display: flex;

		.search-field {
			flex: 1 0 0;
			margin-right: 20px;

			@include mobile {
				margin-right: 15px;
			}
		}

		.sort {
			flex-shrink: 0;
		}
	}

	&__wrapper {
		overflow: auto;

		/* Скрытие стрелок */
		&::-webkit-scrollbar-button {
			display: none;
		}

		/* Скрытие подложки */
		&::-webkit-scrollbar-track {
			display: none;
		}

		/* Ширина и цвет ползунка в Firefox */
		scrollbar-color: color(gray-devider);
		scrollbar-width: thin;

		/* Скрытие стрелок и подложки в Firefox */

		scrollbar-arrow-color: transparent;
		scrollbar-track-color: transparent;

		// Стили для chrome

		&::-webkit-scrollbar {
			width: 2px;
			background-color: none;
		}

		&::-webkit-scrollbar-thumb {
			background-color: color(gray-devider);
			width: 2px;
			border-radius: 6px;
		}

		&-status {
			margin-top: 16px;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			color: color(black);
			text-align: left;

			&_error {
				color: color(red);
			}
		}
	}

	.students-table {
		margin-top: 32px;
	}

	.students-card {
		margin-top: 10px;
	}
}
