.students-card {
	position: relative;
	z-index: 2;
	border-radius: 6px;
	box-shadow: 0px 7px 64px 0px rgba(0, 0, 0, 0.07);
	background-color: color(white);

	&__header {
		padding: 16px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		display: flex;
		justify-content: space-between;
	}

	&__student {
		display: flex;
	}

	&__avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.6);
		overflow: hidden;
		margin-right: 21px;

		img {
			position: relative;
			z-index: 0;
			width: 40px;
			height: 40px;
		}
	}

	&__info {
		&-name {
			font-size: 15px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px;
			white-space: break-spaces;
		}

		&-more {
			display: flex;
			align-items: center;
		}

		&-color {
			margin-right: 13px;

			&-shape {
				width: 12px;
				height: 12px;
				border-radius: 100%;
			}
		}

		&-rating {
			display: flex;
			align-items: center;

			&-icon {
				display: flex;
				width: 10px;
				height: 10px;
				margin-right: 10px;
			}
		}
	}

	&__delete {
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
		cursor: pointer;

		&:hover {
			box-shadow: none;

			svg {
				.cup {
					transform: translateX(-4px);
				}
			}
		}
	}

	&__body {
		padding: 15px 0px 15px 79px;
	}

	&__list {
		list-style-type: none;

		&-item {
			&:not(:last-child) {
				margin-bottom: 5px;
			}

			&::before {
				content: "";
				display: inline-block;
				position: relative;
				width: 5px;
				height: 5px;
				transform: translateY(-50%);
				margin-right: 13px;
				border-radius: 100%;
				background-color: color(blue);
			}
		}
	}
}
