$colors: (
	black: #000,
	white: #fff,
	blue: #49c2e8,
	red: #da633e,
	gray-devider: #91aeb7,
	gray-placeholder: #b3b3b3,
);
:root {
	// each item in color map
	@each $name, $color in $colors {
		--color-#{$name}: #{$color};
	}
}
@function color($color-name) {
	@return var(--color-#{$color-name});
}
